<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-3">
            {{>teacher-nav}}
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Thông tin khóa học</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <fieldset>
                        <div class="form-group row">
                            <label for="courseName" class="col-sm-3 col-form-label">Tên khóa học</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="courseName" name="courseName" value=""
                                    placeholder="{{course.name}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="courseSortDes" class="col-sm-3 col-form-label">Nhập mô tả ngắn</label>
                            <div class="col-sm-9">
                                <textarea id="addSortDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="courseDes" class="col-sm-3 col-form-label">Nhập mô tả chi tiết</label>
                            <div class="col-sm-9">
                                <textarea id="addDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="courseCategoryID" class="col-sm-3 col-form-label">Chọn danh mục cha</label>
                            <div class='col-sm-9'>
                                <select id="postCategory" class="form-control" onchange="loadCategory()">
                                    <option value="{{postCategoryInfo.postCategoryID}}" style="font-weight: bold;"
                                        disabled selected> {{postCategoryInfo.postCategoryName}}
                                    </option>
                                    {{#each postCategory}}
                                    <option value="{{postCategoryID}}">{{postCategoryName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="courseCategoryID" class="col-sm-3 col-form-label">Chọn danh mục con</label>
                            <div class="col-sm-9">
                                <select id="category" class="form-control">
                                    <option value="{{categoryInfo.categoryID}}" style="font-weight: bold" disabled
                                        selected>{{categoryInfo.categoryName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="coursePrice" class="col-sm-3 col-form-label">Nhập giá</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control money" id="coursePrice" name="coursePrice"
                                    value="">
                            </div>
                            <label class="col-sm-1 col-form-label">VND</label>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="btn-width-custom-small">
                                <a class="btn btn-secondary btn-block bold" href="/teacher">Thoát</a>
                            </div>
                            <div class="btn-width-custom-small">
                                <button class="btn btn-secondary btn-block bold" onclick="themKhoaHoc()">Thêm khóa
                                    học</button>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                </div>
            </div>
            {{!-- <div class="row">
                <div class="col-lg-12">
                    <h3>Nội dung khóa học</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{#each chapterInfo}}
                    <li class="list-group-item active active-chapter" style="width:100%" id="li-main{{@index}}"
                        onclick="HideLessons({{@index}})">{{chapterName}} <i class="far fa-edit fa-lg"
                            style="float:right"></i></li>
                    {{#each lessons}}
                    <li class="list-group-item lesson-active" style="width:100%" id="li{{lessonID}}"
                        onclick="changeLesson({{lessonID}})" style="cursor:pointer">{{lessonName}}<i
                            class="fas fa-edit fa-lg" style="float:right"></i></li>
                    {{/each}}
                    <li class="list-group-item lesson-active" style="width:100%;cursor:pointer"><i
                            style="margin-right:5px" class="fas fa-plus-square fa-lg"></i>Thêm bài học</li>
                    {{/each}}
                </div>
            </div> --}}

        </div>
    </div>

</div>

<input id="htmlDescription" type="text" value="{{course.htmlDescription}}" hidden>
<input id="htmlSortDescription" type="text" value="{{course.htmlSortDescription}}" hidden>