<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-3">
            {{>teacher-nav}}
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Thông tin khóa học</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form method="POST" action="/teacher/capnhat-course" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group row">
                                <label for="courseName" class="col-sm-3 col-form-label">Tên khóa học</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="courseName" name="courseName"
                                        value="{{course.name}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseName" class="col-sm-3 col-form-label">Ảnh khóa học</label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control" id="courseImage" name="courseImage">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nhập mô tả ngắn</label>
                                <div class="col-sm-9">
                                    <textarea id="addSortDescription" name="htmlCourseSortDes"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseDes" class="col-sm-3 col-form-label">Nhập mô tả chi tiết</label>
                                <div class="col-sm-9">
                                    <textarea id="addDescription" name="htmlCourseDes"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseCategoryID" class="col-sm-3 col-form-label">Chọn danh mục cha</label>
                                <div class='col-sm-9'>
                                    <select id="postCategory" class="form-control" onchange="loadCategory()">
                                        <option value="{{postCategoryInfo.postCategoryID}}" style="font-weight: bold;"
                                            disabled selected> {{postCategoryInfo.postCategoryName}}
                                        </option>
                                        {{#each postCategory}}
                                        <option value="{{postCategoryID}}">{{postCategoryName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="courseCategoryID" class="col-sm-3 col-form-label">Chọn danh mục con</label>
                                <div class="col-sm-9">
                                    <select id="category" class="form-control">
                                        <option value="{{categoryInfo.categoryID}}" style="font-weight: bold" disabled
                                            selected>{{categoryInfo.categoryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="coursePrice" class="col-sm-3 col-form-label">Nhập giá</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control money" id="coursePrice" name="coursePrice"
                                        value="{{course.price}}">
                                </div>
                                <label class="col-sm-1 col-form-label">VND</label>
                            </div>
                            <input id="courseSortDes" name="courseSortDes" value="" hidden>
                            <input id="courseDes" name="courseDes" value="" hidden>
                            <input id="courseID" name="courseID" hidden value="{{courseID}}">
                            <hr>
                            <div class="row justify-content-center">
                                <div class="btn-width-custom-small">
                                    <a class="btn btn-secondary btn-block bold" href="/teacher">Thoát</a>
                                </div>
                                <div class="btn-width-custom-small">
                                    <button type="submit" class="btn btn-secondary btn-block bold"
                                        onmouseover="layHTMLDesciprtion()">Cập
                                        nhật</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <br>
                </div>
            </div>

        </div>
    </div>

</div>

<input id="htmlDescription" type="text" value="{{course.htmlDescription}}" hidden>
<input id="htmlSortDescription" type="text" value="{{course.htmlSortDescription}}" hidden>