<div class="container">
    <br>
    {{>profile-header}}
    <br>
    <div class="card-deck">
        {{#each courses}}
        <div class="card card-custom" style="margin-bottom:20px">
            <img class="card-img-top" height="230px" src="{{this.imagePath}}" style="border-bottom:1px solid black;"
                alt="Card image cap">
            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title"><a style="color: black;" href="/course/detail?courseID={{courseID}}">{{this.name}}</a></h5>
                <p class="card-text">{{this.sortDescription}}</p>
                <b>Tiến độ học của bạn: {{percentComplete}}</b>
                <br>
                <p style="display:inline">Trạng thái khóa học:</p>
                {{#equal status 'Chưa hoàn tất'}}
                <b style="background-color: #FF6F60;">Chưa hoàn tất</b>
                {{/equal}}
                {{#equal status 'Đã hoàn tất'}}
                <b style="background-color:chartreuse">Đã hoàn tất</b>
                {{/equal}}
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="/student/watch?courseID={{this.courseID}}" class="btn btn-secondary btn-block bold">Học
                            ngay</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="/student/rate?courseID={{this.courseID}}"
                            class="btn btn-warning btn-block bold removeButton" style="color:white">Đánh giá</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>