<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {{>admin-nav}}
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Danh sách giáo viên</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right" style="margin-bottom:15px">
                        <input id="inputTimKiem" style="margin-right:10px;" placeholder="Tìm kiếm"><i
                            onclick="timKiemGiaoVien()" class="fa fa-search" aria-hidden="true"
                            style="cursor:pointer"></i>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên</th>
                        <th scope="col">email</th>
                        <th scope="col" style="text-align:center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each teachers}}
                    <tr>
                        <th class="counterCell">
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td style="text-align:center"><i onclick="xemHocSinh({{teacherID}})"
                                class="fa fa-eye fa-right fa-cursor fa-lg" aria-hidden="true"></i><i
                                onclick="suaHocSinh({{teacherID}})" class="fas fa-edit fa-lg fa-cursor"></i><i
                                onclick="xoaHocSinh({{teacherID}})" class="fa fa-trash fa-right fa-cursor fa-lg"
                                aria-hidden="true"></i></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-6">
                    <h4 style="cursor: pointer" data-toggle="modal" data-target="#modalGiaoVien"><i
                            class="fas fa-plus-square fa-1x"></i>&nbsp;Thêm giáo viên</h4>
                </div>
                <div class="modal fade" id="modalGiaoVien" tabindex="-1" role="dialog"
                    aria-labelledby="categoryModelLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thêm giáo viên</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <span>Tên giáo viên</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <input id="tenGiaoVien" style="width: 80%;">
                                        </div>
                                    </div>
                                    <div class="row row-modal">
                                        <div class="col-lg-4">
                                            <span>Email</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <input id="emailGiaoVien" style="width: 80%;">
                                        </div>
                                    </div>
                                    <div class="row row-modal">
                                        <div class="col-lg-4">
                                            <span>Mật khẩu</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <input id="matKhau" style="width: 80%;">
                                        </div>
                                    </div>
                                    <div class="row row-modal">
                                        <div class="col-lg-4">
                                            <span>Xác nhận mật khẩu</span>
                                        </div>
                                        <div class="col-lg-8">
                                            <input id="xacNhanMatKhau" style="width: 80%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal"
                                    style="color: white;font-weight:bold">Đóng</button>
                                <button type="button" class="btn btn-secondary"
                                    onclick="themGiaoVien();">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top:20px">
                <button class="btn btn-secondary" style="margin-right:2px"
                    onclick="getPrevPage({{pagingInfo.preve_value}},{{perPage}})"><i class="fa fa-angle-left"
                        aria-hidden="true"></i></button>
                <button class="btn btn-secondary" style="margin-right:2px">{{currentPage}}</i></button>
                <button class="btn btn-secondary" onclick="getNextPage({{pagingInfo.next_value}},{{perPage}})"><i
                        class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>