<div class="container">
    <div class="row">
        <div class="col-lg-4">
            {{>admin-nav}}
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-3" style="padding-right:1px">
                    <select id="postCategory" class="form-control" onchange="loadCategory()">
                        {{#equal curPostCategory false}}
                        <option value="" style="font-weight: bold;" disabled selected>Danh mục cha</option>
                        {{else}}
                        <option value="{{curPostCategory.postCategoryID}}" style="font-weight: bold;" disabled selected>{{curPostCategory.postCategoryName}}</option>
                        {{/equal}}
                        {{#each postCategory}}
                        <option value="{{postCategoryID}}">{{postCategoryName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-lg-4" style="padding:1px">
                    <select id="category" class="form-control">
                        {{#equal curCategory false}}
                        <option value="" style="font-weight: bold;" disabled selected>Danh mục con</option>
                        {{else}}
                        <option value="{{curCategory.categoryID}}" style="font-weight: bold;" disabled selected>{{curCategory.categoryName}}</option>
                        {{/equal}}
                        {{#each allCategory}}
                        <option value="{{categoryID}}">{{categoryName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-lg-1" style="padding:1px">
                    <div>
                        <button class="btn btn-secondary" onclick="timKiemTheoCategory()"> <i class="fa fa-search"
                                aria-hidden="true" style="cursor:pointer"></i></button>
                    </div>
                </div>
                <div class="col-lg-3" style="padding:1px">
                    <div class="float-right">
                        <input class="form-control" id="inputTimKiem" style="" placeholder="Tìm kiếm">
                    </div>
                </div>
                <div class="col-lg-1" style="padding:1px">
                    <div>
                        <button class="btn btn-secondary" onclick="timKiemTheoGiaoVien()"> <i class="fa fa-search"
                                aria-hidden="true" style="cursor:pointer"></i></button>
                    </div>
                </div>
            </div>
            {{#each courses}}
            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-5">
                    <img src="{{imagePath}}" style="border: 1px solid black" height="200px" width="300px">
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>Khóa học:</h5>
                        </div>
                        <div class="col-lg-8">
                            <h5>{{name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <span>Giảng viên:</span>
                        </div>
                        <div class="col-lg-8">
                            <span>Lập trình ABCXYZ Lập trình ABCXYZ</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <span>SL học viên:</span>
                        </div>
                        <div class="col-lg-8">
                            <span>{{NoStudents}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4" style="margin-top:5px">
                            <span>Đánh giá:</span>
                        </div>
                        <div class="col-lg-8">
                            <h4 style="display:inline">{{averageStar}}</h4>
                            <div class="stars-outer">
                                <div class="stars-inner" id="starWidth" style="width: {{widthStar}};"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 float-right" style="margin-top: 20px;">
                            {{#if ban}}
                            <div class="float-right" style="margin-right:50px">
                                <button class="btn btn-secondary" style="font-weight:bold"
                                    onclick='unBanCourse({{courseID}})'>Mở lại khóa học</button>
                            </div>
                            {{else}}
                            <div class="float-right" style="margin-right:50px">
                                <button class="btn btn-danger" style="font-weight:bold"
                                    onclick='banCourse({{courseID}})'>Vô hiệu hóa</button>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {{/each}}

            <div class="row justify-content-center" style="margin-top:20px">
                <button class="btn btn-secondary" style="margin-right:2px"
                    onclick="getPrevPage({{pagingInfo.preve_value}},{{perPage}})"><i class="fa fa-angle-left"
                        aria-hidden="true"></i></button>
                <button class="btn btn-secondary">{{currentPage}}</i></button>
                <button class="btn btn-secondary" style="margin-left:2px"
                    onclick="getNextPage({{pagingInfo.next_value}},{{perPage}})"><i class="fa fa-angle-right"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>